:root {
	--light: #e2e3e5;
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--green: #00a300;
	--red: #fe0404;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

#todo-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#todo-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#todo-input::placeholder {
	color: var(--grey);
}

#todo-submit {
	color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    background: var(--green);
    border-radius: 5px;
    padding: 0px 45px;
}

#todo-submit:hover {
	opacity: 0.8;
}

#todo-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
    margin: 0 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.completed {
    text-decoration: line-through;
    color: var(--green)!important;
}

.done {
    color: var(--green);
}

.task .actions .edit {
	color: var(--pink);
}

.delete {
    font-size: 1.5rem!important;
	color: var(--red)!important;
}

button.moveUp {
    color: white;
}